.wrapper {
  width: 100%;
}

.inputBar {
  max-width: 73.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  margin: -2.5rem auto;
}

.inputBar input {
  width: 100%;
  padding: 1.6rem;
  border-radius: 8px;

  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
  color: var(--gray-100);
}

.inputBar button {
  padding: 1.6rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;

  background-color: var(--blue-dark);
  color: var(--gray-100);
  border: none;

  font-size: 1.4rem;
  font-weight: 700;

  cursor: pointer;

  transition: background-color .2s;
}

.inputBar button:hover {
  background-color: var(--purple-dark);
}

.tasksTable {
  max-width: 73.6rem;
  margin: 9.1rem auto;
}

.tasksTable header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid var(--gray-400);
}

.tasksTable ul {
  list-style: none;
  padding-top: 2.4rem;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.createdTasks {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--blue);
}

.completedTasks {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--purple);
}

.createdTasks span,
.completedTasks span {
  font-size: 1.2rem;
  color: var(--gray-200);
  background-color: var(--gray-400);
  padding: .2rem .8rem;
  border-radius: 999px;
  margin-left: .8rem;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0 1.6rem;
  }
}